[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cellWise"]
	path = cellWise
	url = https://github.com/cran/cellWise
[submodule "classmap"]
	path = classmap
	url = https://github.com/cran/classmap
[submodule "mrfDepth"]
	path = mrfDepth
	url = https://github.com/cran/mrfDepth
